* {
  margin: 0px;
  padding: 0 auto;
 }
  

body{
  background:#a2e7235e;
  font-size:14px;
  font-family:Verdana,sans-serif;
}

.midashi{
  background: #f58450;
  width:50%;
  text-align: center;
  margin: auto;
  padding:100px auto;
}

.back{
  min-width:450px;
  width:30%;
  height:400px;
  background-color: rgba(0, 107, 93, 0.548);
  margin:0 auto;
}

h1{
  text-align:center;
  padding:4px 0;
}

h2{
  text-align:center;
  color:#63638d;
}


.container{
  width:400px;
  margin:8px auto;
  background:#fff;
  border-radius: 4px;
  padding:16px;
  user-select: none;
  position:relative;
  text-align: center;
}

#question{
  margin-bottom:15px;
  font-weight:bold;
}

#choices{
  list-style:none;
  padding:0;
  margin-bottom:16px;
}


#choices > li{
  border:1px solid #ccc;
  border-radius:4px;
  padding:10px;
  margin-bottom:10px;
  cursor:pointer;
}

#choices > li:hover{
  background:#ececec;
}

#choices > li.correct::after{
  content:'...correct!';
}

#choices > li.correct{
  background:#d4edec;
  border-color:#c3e6cb;
  color:#155357;
  font-weight:bold;
}

#choices > li.wrong::after{
  content:'...wrong!';
}

#choices > li.wrong{
  background:#f8d8da;
  border-color:#f5c6cb;
  color:#721c24;
  font-weight:bold;
}

#btn, #result > a{
  background:#3498db;
  padding:8px;
  border-radius:4px;
  cursor:pointer;
  text-align: center;
  color:#fff;
  box-shadow:0 4px 0 #2880b9;
}


#btn.disabled{
  background:#ccc;
  box-shadow:0 4px 0 #bbb ;
  opacity: 0.7;
}

#result{
  position:absolute;
  width:300px;
  background:#fff;
  padding:30px;
  box-shadow:0 4px 8px rgba(0, 0, 0, 0.2);
  top:50px;
  left: 0;
  right:0;
  margin:0 auto;
  border-radius:4px;
  text-align: center;
}

#result.hidden{
  transform:translateY(-500px);
}

#result > p{
  font-size:24px;
}


#result > a{
  display:block;
  text-decoration: none;
}
